@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

footer {
    margin: 50px auto;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

footer a {
    color: #46d369;
    text-decoration: none;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:760px){
    body {
        font-size: 15px;
    }
}